<form [formGroup]="productoForm">

  <div class="form-group">
    <label for="imagen">Imagen:</label>
    <input type="file" id="imagen" formControlName="imagen" (change)="onFileSelected($event)">
  </div>

  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre">
  </div>

  <div class="form-group">
    <label for="precio">Precio:</label>
    <input type="number" id="precio" formControlName="precio">
  </div>

  <div class="form-group">
    <label for="stock">Stock:</label>
    <input type="number" id="stock" formControlName="stock">
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" formControlName="descripcion"></textarea>
  </div>

  <div class="form-group">
    <label for="categoria">Categoría:</label>
    <select id="categoria" formControlName="categoria" (change)="cargarSubcategorias()">
      <option [value]="null">Seleccionar Categoría</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.categoria_id">{{ categoria.nombre_categoria }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="subcategoria">Subcategoría:</label>
    <select id="subcategoria" formControlName="subcategoria">
      <option [value]="null">Seleccionar Subcategoría</option>
      <option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.subcategoria_id">{{ subcategoria.nombre_subcategoria }}</option>
    </select>
  </div>

  <button type="submit" (click)="guardarCambios()">Guardar Cambios</button>
</form>
