<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button class="menu"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-buttons>
                <ion-icon slot="icon-only" name="person-circle" style="font-size: 45px; "></ion-icon>
            </ion-buttons>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="principal" routerLink="../tabs/principal">
                <!-- Cambia aquí -->
                <ion-icon aria-hidden="true" name="home"></ion-icon>
                <ion-label>Inicio</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="product" routerLink="/tabs/product">
                <!-- Cambia aquí -->
                <ion-icon aria-hidden="true" name="pricetags"></ion-icon>
                <ion-label>Productos</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="tab3" routerLink="/tabs/tab3">
                <ion-icon aria-hidden="true" name="cart"></ion-icon>
                <ion-label>Carrito</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

</ion-content>