ion-menu-button {
    color: var(--ion-color-primary);
}

img {
    margin: 0 auto;
    width: 110%;
}

.menu,
.user {
    color: #002d72;
}

ion-col {
    display: flex;
    justify-content: center;
}

.custom-fab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    /* Ajusta el ancho deseado */
    height: 50px;
    /* Ajusta el alto deseado */
}

#accesos {
    margin: 0 auto;
    background-color: #002d72;
    width: 100%;
    height: 14%;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    border-color: #00aeef;
    display: flex;
    justify-content: space-evenly;
}

#accesos p {
    color: #f1f1f1;
    font-size: medium;
    font-weight: 200;
}

.container h4 {
    margin: 5px 5px auto;
    color: #f1f1f1;
    font-weight: 700;
}