<ion-header></ion-header>

<ion-content style="background-color: #002d72;">
    <swiper-container navigation="true" pagination="true" scrollbar="true" autoplay='{"delay": 3000}' loop="true">
        <div slot="container-start"></div>
        <div slot="container-end"></div>
        <swiper-slide swiperSlide *ngFor="let image of images">
            <img [src]="image" alt="Image">
        </swiper-slide>
    </swiper-container>

    <script>
        var mySwiper = new Swiper('.swiper-container', {
            autoplay: {
                delay: 3000, // Cambio de imagen cada 3 segundos
            },
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            loop: true, // Habilitar el bucle infinito
        });
    </script>



    <div id="accesos">
        <ion-grid [fixed]="true">
            <ion-row>
                <ion-col>
                    <ion-fab>
                        <ion-fab-button class="centered-fab-button">
                            <ion-icon name="pricetags"></ion-icon>
                        </ion-fab-button>
                        <p style="margin-top: 4px; text-align: center;">Ofertas</p>
                    </ion-fab>
                </ion-col>
                <ion-col>
                    <ion-fab>
                        <ion-fab-button class="centered-fab-button">
                            <ion-icon name="ribbon" style="display: flex; "></ion-icon>
                        </ion-fab-button>
                        <p style="margin-top: 4px; text-align: center;">Mas <br> Ofertas</p>
                    </ion-fab>
                </ion-col>
                <ion-col>
                    <ion-fab>
                        <ion-fab-button>
                            <ion-icon name="star"></ion-icon>
                        </ion-fab-button>
                        <p style="margin-top: 4px; margin-left: -6px; text-align: center;">Mas <br>populares</p>
                    </ion-fab>
                </ion-col>
                <ion-col>
                    <ion-fab>
                        <ion-fab-button>
                            <ion-icon name="time"></ion-icon>
                        </ion-fab-button>
                        <p style="margin-top: 4px; text-align: center;">Recientes</p>
                    </ion-fab>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="container">
        <h4>Te puede interesar...</h4>
        <ion-grid [fixed]="true">
            <ion-row>
                <ion-col *ngFor="let producto of productos" size="6">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>{{ producto.nombre }}</ion-card-title>

                        </ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <p>Precio :</p>
                                <p class="ion-padding-start">Precio: {{ producto.precio | currency:'CLP' }}</p>

                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>